body {
    background-color: skyblue;
    font-family: "Noto Sans JP", "Helvetica Neue", Arial, sans-serif;
}

.self-intro {
    color: #fff;
}

#main-title {
    font-size: 48px;
    font-weight: bold;
    margin-bottom: 1rem;
}